{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

[Ipsos MORI](https://www.ft.com/topics/organisations/Ipsos_MORI) has published the results of its annual [Perils of Perception poll](http://perils.ipsos.com/) of 40 countries, revealing some startling disparities between people's preconceptions about their country and the realities.

Take our quiz to see how your perceptions compare to those of the country overall, as well as to other quiz-takers.

<div id="react-container" style="margin-bottom: 40px">
  <p><strong>Loading quiz…</strong></p>
</div>

{% endmarkdown %}
{% endblock %}
