{% extends "layout.html" %} <!-- 在views文件夹里面 -->

{% block article_body %}
{% markdown %}

[Ipsos MORI（莫利调查机构）](https://www.ft.com/topics/organisations/Ipsos_MORI) 已经发布了其关于40个国家的年度 [认知风险调查](http://perils.ipsos.com/), 其展现了人们对其国家的认知和事实之间的[惊人差异](https://www.ft.com/content/bed2e788-c154-11e6-9bca-2b93a6856354) 。

做做我们的问卷吧，看看你对于这些国家的认识是怎样的，也和其他做题者的答案对比对比。
<div id="react-container" style="margin-bottom: 40px">
  <p><strong>问卷加载中...</strong></p> {# 弹窗未关闭之前显示 #}
</div>

{% endmarkdown %}
{% endblock %}
