{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

[Ipsos MORI](https://www.ft.com/topics/organisations/Ipsos_MORI) today published the results of its annual [Perils of Perception poll](http://perils.ipsos.com/) of 40 countries, revealing [some startling disparities](https://www.ft.com/content/bed2e788-c154-11e6-9bca-2b93a6856354) between people's preconceptions about their country and the realities.

Take our quiz to see how your perceptions compare to those of the country overall, as well as to other quiz-takers.

<div id="react-container" style="margin-bottom: 40px">
  <p><strong>Loading quiz…</strong></p>
</div>

{% endmarkdown %}
{% endblock %}
