@import 'o-colors/main';
@import 'components/core/main';
@import 'components/question/main';
@import 'components/question-inputs/range/main';
@import 'components/question-outputs/main';
@import 'components/question-outputs/area-chart/main';
@import 'components/question-outputs/column-chart/main';

// Core app styling
.question {
  opacity: 0.62;
  pointer-events: none;
  transition: opacity linear 200ms;
  &.active,
  &.answered {
    opacity: 1;
    pointer-events: auto;
  }
  .o-typography-lead--small {
    font-family: MetricWeb, sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
}

.range-input {
  input {
    display: block;
  }
}

.multiple-choice-input {
  button {
    display: block;
  }
}
