@import 'o-colors/main';
@import 'o-header/main';
@include oHeaderBase;

@mixin oLogoSize($breakpoint) {
	$image-aspect-ratio: 4.7;
	$logo-heights: ('XS': 16, 'S': 20, 'M': 24, 'L': 40, 'XL': 40);

	width: map-get($logo-heights, $breakpoint) * $image-aspect-ratio + 0px;
	height: map-get($logo-heights, $breakpoint) + 0px;
}

.o-header__top-wrapper {
	display: table;
	width: 100%;
}

.o-header__top-column {
	display: table-cell;
	vertical-align: middle;
}
.o-header__top-column--center {
	text-align: center;
}
.o-header__top-logo {
	// @include oHeaderBrandImage('brand-ft-masthead', oColorsGetColorFor('o-header-icon'), 500);
	img {
		height: 100%;
		object-fit: contain;
	}
	@include oLogoSize('XS');

	display: block;
	border: 0;
	margin: 16px auto;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;

	@include oGridRespondTo('S') {
		@include oLogoSize('S');
	}

	@include oGridRespondTo('M') {
		@include oLogoSize('M');
		margin-top: 24px;
		margin-bottom: 24px;
	}
}
// @include oHeaderSimple;
.o-header--simple {
	.o-header__top-wrapper {
		height: 55px;
	}

	.o-header__top-link {
		margin-top: 4px;
		margin-bottom: 4px;
	}

	.o-header__top-logo {
		margin-top: 0;
		margin-bottom: 0;

		@include oGridRespondTo('L') {
			@include oLogoSize('M');
		}
	}
}

@import 'components/core/main';
@import 'components/question/main';
@import 'components/question-inputs/range/main';
@import 'components/question-outputs/main';
@import 'components/question-outputs/area-chart/main';
@import 'components/question-outputs/column-chart/main';
@import 'components/overlay/main';

div.results {
  h2 {
    margin-top: 0;
  }
  button {
    display: block;
    width: 100%;
    max-width: 315px;
    margin: 38px auto 0;
  }
}

$o-footer-is-silent: false;
@import 'ftc-footer/main';
@import 'ftc-share/main';
@include oShare(('light'));
.o-share {
	display: block;
	text-align: right;
}