@import 'o-colors/main';
@import 'components/core/main';

.quiz-question {
  opacity: 0.62;
  pointer-events: none;
  transition: opacity linear 300ms;
  &.active,
  &.answered {
    opacity: 1;
    pointer-events: all;
  }
}


button {
  display: block;
}
