@import 'o-colors/main';
@import 'components/core/main';
@import 'components/question/main';
@import 'components/question-inputs/range/main';
@import 'components/question-outputs/main';
@import 'components/question-outputs/area-chart/main';
@import 'components/question-outputs/column-chart/main';
@import 'components/overlay/main';

div.results {
  h2 {
    margin-top: 0;
  }
  button {
    display: block;
    width: 100%;
    max-width: 315px;
    margin: 38px auto 0;
  }
}
