form.range-input {
  width: 100%;
  .range-labels {
    display: flex;
    justify-content: space-between;
    &-min {
      align-self: flex-start;
    }
    &-max {
      align-self: flex-end;
    }
  }
  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    max-width: 625px;
    margin-top: 20px;
    background: transparent; /* Otherwise white in Chrome */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 1px solid rgba(38,116,122,.15);
      height: 25px;
      width: 25px;
      border-radius: 12.5px;
      background: #27757b;
      cursor: pointer;
      margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: rgba(38,116,122,.15);
      border-radius: 4px;
    }
    &::-moz-range-thumb {
      border: 1px solid rgba(38,116,122,.15);
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background: #27757b;
      cursor: pointer;
    }
    &::-ms-thumb {
      border: 1px solid rgba(38,116,122,.15);
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background: #27757b;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &:focus {
      outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }
  }
  .button-container {
    position: relative;
    // padding: 0 10px;
    input[type=submit] {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 100%;
      max-width: 315px;
      margin: 25px auto;
      -webkit-transition: opacity linear 500ms; /* Safari */
      transition: opacity linear 500ms;
    }
  }
}
