div.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 999 !important;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.62);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -webkit-backdrop-filter: blur(8px);
  &.hidden {
    display: none;
  }
  &.animate-blur {
    @-webkit-keyframes into_focus {
      from { -webkit-backdrop-filter: blur(8px); }
      to { -webkit-backdrop-filter: blur(0px); }
    }
    -webkit-animation: 250ms linear into_focus;
  }
  div.o-grid-container {
    width: 100%;
    max-width: 490px;
    margin: 0 10px;
    border: 2px solid #74736c;
    border-radius: 5px;
    padding: 0;
    background: #fff;
    header.overlay-header {
      padding: 10px 10px 10px 20px;
      background: #74736c;
      color: #fff;
    }
    section.overlay-content {
      padding: 20px;
      form {
        select {
          width: 100%;
        }
        input[type=submit] {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}
