<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-header@^6.5.1">
<style>
	.o-header__top-logo{
		/*background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo:brand-ft-masthead?source=o-header&tint=%23505050,%23505050&format=svg);*/
		background-image: url(http://interactive.ftchinese.com/demos/ftc-logos/static/png/brand-masthead.png);
		background-image: url(http://interactive.ftchinese.com/demos/ftc-logos/static/svg/brand-masthead.svg);
	}
	
</style>
<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="http://www.ftchinese.com/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<script async>queue('https://origami-build.ft.com/v2/bundles/js?export=oHeader&modules=o-header@^6.5.1', null, true)</script>
