<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# resource hints #}
<link rel="preconnect" href="https://origami-build.ft.com">
<link rel="preconnect" href="https://build.origami.ft.com" crossorigin>
<link rel="preconnect" href="https://cdn.polyfill.io">

{# Critical JS and CSS #}
<script inline src="components/core/top.js"></script>

<link inline rel="stylesheet" href="components/core/top.css">{# 疑问：link的inline属性是啥？ #}
<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=n-normalize@^1,o-fonts@^2">
<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-grid@^4.2.1,o-typography@^4.3.1,o-card@^2.1.8">
<link rel="stylesheet" href="styles.css">

{# 此处无stylesheets这个数据，故该部分为空 #}
{%- if stylesheets %}{% for stylesheet in stylesheets %}{# '%-' 是去掉空格的作用，但是出现在前括号后面，有点费解 #}
<link rel="stylesheet" href="{{ stylesheet | safe }}">
{% endfor %}{% endif -%}

<link href="https://plus.google.com/113457471429583444041/" rel="publisher" />
<meta property="fb:app_id" content="429755910551755" />
<link rel="shortcut icon" href="https://ig.ft.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://ig.ft.com/apple-touch-icon.png">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">
<meta name="copyright" content="Financial Times">
<meta name="theme-color" content="#fff1e0" />
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Financial Times",
  "alternateName": "FT.com",
  "url": "http://www.ft.com"
}
</script>

{%- if topic.name and topic.url -%} {# 两个数据都存在，故该板块存在 #}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ topic.url }}",
      "name": "{{ topic.name }}",
      "image": ""
    }
  }]
}
</script>
{%- endif -%}

{%- if flags.errorReporting -%} {# 数据flags不存在，故该板块不存在 #}
<script type="application/json" data-o-errors-config>
{"sentryEndpoint": "https://ddbd80489ff549538250bbe37fa52bbd@app.getsentry.com/71130"}
</script>
<script async src="https://origami-build.ft.com/v2/bundles/js?export=oErrors&modules=o-errors@^3.4.0"></script>
{%- endif -%}

{{ data | jsonScriptElement('data') }} {# 不存在data也不存在jsonScriptElement,故该板块不存在 #}

<title>{{ title | default(headline, true) }} &mdash; ftchinese.com</title> {# 疑问：这里的过滤器后面的default是什么东西？ 反正先把title和headline都汉化了 #}
<meta name="twitter:title" content="{{ twitterHeadline | default(socialHeadline) | default(headline, true) }}">
<meta property="og:title" content="{{ facebookHeadline | default (socialHeadline) | default(headline, true) }}">

<meta name="description" content="{{ description }}">
<meta name="twitter:description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

<link rel="canonical" href="{{ url }}">{# 这个url来自于article.js的数据，确有其值：url: 'https://ig.ft.com/sites/quiz/perils-of-perception/2016/',
 #}
<meta name="twitter:url" content="{{ url }}">
<meta property="og:url" content="{{ url }}">

<link rel="image_src" href="{{ mainImage.url }}">{# mainImage.url确有其值 #}
<meta name="twitter:image" content="{{ twitterImage | default(socialImage) | default(mainImage.url) }}">
<meta property="og:image" content="{{ facebookImage | default(socialImage) | default(mainImage.url) }}">

<meta name="twitter:card" content="{{ twitterCard }}">{# twitterCard确有其值 #}
<meta name="twitter:site" content="@ft">

{%- if twitterCreator %}{# 无此数据，故无此版块 #}
<meta name="twitter:creator" content="{{ twitterCreator }}">
{% endif -%}

{%- if flags.analytics %}{# 无此数据，故无此版块 #}
  <link rel="preconnect" href="https://spoor-api.ft.com">
  <meta property="ft.track:is_live" content="true"/>
  {% if tracking.product %}
  <meta property="ft.track:product" content="{{ tracking.product }}"/>
  {% endif %}
  {% if tracking.micrositeName %}
  <meta property="ft.track:microsite_name" content="{{ tracking.micrositeName }}"/>
  {% endif %}
{% endif -%}
