<div>
  <a href="{{ topic.url }}" class="o-typography-link-topic o-typography-link-topic--medium">{{ topic.name }}</a>
</div>

<!--<h1 class="o-typography-heading1" itemprop="headline">{{ headline | md(true) }}</h1>-->
<h1 style="font-size:30px;line-height:38px;margin-top: 5px;margin-bottom: 5px" itemprop="headline">{{ headline | md(true) }}</h1>

<!--p class="o-typography-lead"-->
<p style="font-size: 20px">
  {{ summary | md(true) }}
  {% if relatedArticle %}
  <a href="{{ relatedArticle.url }}" class="o-typography-link">{{ relatedArticle.text }}</a>
  {% endif %}
</p>
<meta itemprop="dateModified" content="{{ publishedDate | isotime }}">

<p>
  {%- if publishedDate -%}
  <time class="article__timestamp o-date o-typography-timestamp"
          data-o-component="o-date" datetime="{{ publishedDate | isotime }}"
          itemprop="datePublished" content="{{ publishedDate | isotime }}"
          data-o-date-js>{{ publishedDate }}</time>
  {%- endif -%}
  {%- if byline -%}
  &#32;<span class="article__byline">
  {%- if byline.push -%}
    {%- for author in byline -%}
      {{ ", " if not loop.first and loop.last else (", " if not loop.first else "") }}
      {%- if author.url -%}
        <a href="{{ author.url }}" class="o-typography-link-topic o-typography-link-topic--small" itemprop="author">{{ author.name }}</a>
      {%- else -%}
        {{ author.name }}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {{ byline | md(true) }}
  {%- endif -%}
  &nbsp;制作</span>
  {%- endif -%}
</p>
