svg.area-chart {
  align-self: flex-start;
  margin: -5px 0 0;
  .axis path,
  .axis line {
    fill: none;
    stroke: #c3bcb0;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  text {
    fill: #6b6e68;
  }
  .area {
    fill: #bb6d82;
    shape-rendering: geometricPrecision;
  }
}
