{% extends "layout.html" %}

{% block article_body %}
{% markdown %}



国际市场调查公司益普索-莫里（Ipsos-MORI）近期发布年度[认知偏差（Perils of Perception poll)](http://perils.ipsos.com/)报告，调查横跨40个国家和地区，探讨各地民众对社会状态的认识与实际情况的的差距。

调查将40个国家地区的"无知（Ignorance）"程度进行排名，印度、中国、台湾、南非、美国的民众为最不熟悉该社会的人民。

我们把这份调查制作成以下测验[(英文原文版点此）](https://ig.ft.com/sites/quiz/perils-of-perception/2016/)，通过7道题目，测验看看你是否认识自己所处的社会，还有机会能比较你的答案与其他读者的差距。

<div id="react-container" style="margin-bottom: 40px">
  <p><strong>测验加载中…</strong></p>
</div>

{% endmarkdown %}
{% endblock %}
