{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

国际市场调查公司益普索-莫里（Ipsos-MORI）近期发布2016年[认知偏差（Perils of Perception poll)](http://perils.ipsos.com/)年度报告，调查首度横跨40个国家和地区，探讨全球各地民众对社会状态的认识与真实情况的差距。

调查显示，全球人民对国家社会的认知确实有待加强。我们一方面低估社会财富分配不均的基本事实（不平等的程度超过人们的理解），另一方面又悲观的认为人们普遍不幸福（事实上自认幸福的比例仍是多数）。

这份调查也根据调查民众是否认识所处社会的真实状态，把40个国家地区按照"无知（ignorance）"程度进行排名：中国仅次于印度，被认为民众认知和实际情况差距最大。至于第三到第五名，依序为台湾、南非与美国。

我们把这份调查制作成以下测验[（English version）](https://ig.ft.com/sites/quiz/perils-of-perception/2016) ，通过7道题目，测验看看你是否真实认识自己所处的社会，还有机会能比较你与其他FT读者答案的差距。

<div id="react-container" style="margin-bottom: 40px">
  <p><strong>测验正在快速加载中…</strong></p>
</div>

{% endmarkdown %}
{% endblock %}
