{# {% set test_comments_uuid = "3a499586-b2e0-11e4-a058-00144feab7de" if not flags.prod and flags.comments else "" %} #}
<!doctype html>
<html lang="zh-Hans" class="core"
    data-buildtime="{{ now() | isotime }}"
    data-content-id="{{ id if id else test_comments_uuid }}">
  <head>
{#     {% block prependhead %}{% endblock -%}
    {% include "includes/html-head.html" %}
    {% block appendhead %}{% endblock -%} #}
    {% include "partials/meta.html" %}
    {% if production %}
      {% include "partials/analytics.html" %}
    {% endif %}
    <script src ='scripts/ad.js'></script>   
  </head>
  <body>

<img src=http://i.ftimg.net/picture/6/000067486_piclink.jpg style=display:block;width:0;height:0;overflow:hidden>

    {% include "partials/header.html" %}

    {% include "partials/ad-banner.html" %}
    <main role="main">
      <article class="article" itemscope itemtype="http://schema.org/Article">
        <div class="article-head o-grid-container">
          <div class="o-grid-row">
            <header data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">

              {% include "partials/share.html" %}
              {% include "partials/article-head.html" %}

            </header>
          </div>
        </div>
        <div class="article-body o-typography-body-wrapper" itemprop="articleBody">

          {% block article_body %}{% endblock %}
          
          {% include "partials/share.html" %}


          <footer class="o-typography-footer" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <small>注1：益普索-莫里（Ipsos-MORI）2016年全球认知障碍调查，执行于2016年9月22日至11月6日，调查横跨全球40个国家，通过Ipsos的线上样本，抽样500至1000位（中国抽样1000位）、介于16到64岁的民众进行调查。</small><br />
            <small>注2：数值若小于0.5%，会以0％为计算。</small><br />
            <small><a href="http://www.ft.com/servicestools/help/copyright" data-trackable="link-copyright">Copyright</a>
  					<span itemprop="name">FT中文网 2017.</span> ©FT and ‘Financial Times’ are trademarks of The Financial Times Ltd.</small>
          </footer>
        </div>
      </article>
    </main>
    {% include "partials/ad-banner.html" %}
    
{#     {% if flags.onwardjourney %}
      {% include "includes/onwardjourney.html" %}
    {% endif %} #}
    {% include "partials/onwardjourney.html" %}

{#     {% if flags.comments %}
      {% include "includes/comments.html" %}
    {% endif %} #}

{#     {% if flags.footer %}
      {% include "includes/footer.html" %}
    {% endif %} #}
    {% include "partials/o-footer.html" %}
 {#    <script async>queue('https://origami-build.ft.com/v2/bundles/js?export=oFooter&modules=o-footer@^5.0.1', null, true)</script> #}

{#     <script async>
    queue([
      'index.js',
      'https://origami-build.ft.com/v2/bundles/js?export=oDate&modules=o-date@^2.6.0',
      {% if scripts %}{% for script in scripts %}
      ,'{{ script | safe }}'
      {% endfor %}{% endif %}
    ]);
    </script> #}
  <script inline type="text/javascript" src="scripts/index.js"></script>
{% if production %}
  <script src="http://static.ftchinese.com/js/log.js?v=6"></script>
{% endif %}
  </body>
</html>
