$font-sans: "Helvetica Neue","Lucida Grande",Verdana,"PingFang SC","PingFang TC","Hiragino Sans GB","Heiti SC","Heiti TC","WenQuanYi Micro Hei","Microsoft YaHei","Microsoft JhengHei",STHeiti,sans-serif;
$font-serif: "Helvetica Neue","Lucida Grande",Verdana,"PingFang SC","PingFang TC","Hiragino Sans GB","Heiti SC","Heiti TC","WenQuanYi Micro Hei","Microsoft YaHei","Microsoft JhengHei",STHeiti,sans-serif;
$font-display: "Helvetica Neue","Lucida Grande",Verdana,"PingFang SC","PingFang TC","Hiragino Sans GB","Heiti SC","Heiti TC","WenQuanYi Micro Hei","Microsoft YaHei","Microsoft JhengHei",STHeiti,sans-serif;

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

$share-button-size: 38px;

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 18px;
    .o-share--vertical {
      float: right;
      .o-share__action {
        margin: 0 0 0 5px;
        a,
        a:first-child {
          padding-top: 0;
          padding-bottom: 5px;
        }
      }
    }
  }

  &-body {
    & > :not(.graphic) {
      max-width: 625px;
      margin: 1em auto;
      padding: 0 0.75em;
    }

    p {
      color: #333;
      font-size: 18px;
      line-height: 1.618;
    }

    a {
        color: #26747a;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 1px dotted #26747a;
    }
  }
}

.o-typography-link-topic:hover {
    color: #4f1828;
}

.o-typography-link-topic:hover {
    color: #4f1828;
}

.o-typography-link-topic {
    color: #9e2f50;
    text-decoration: none;
    line-height: 22px;
    font-size: 20px;
    font-weight: 600;
}
.graphic {

  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  & > img,
  & > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &-b-0 {
    max-width: 625px;
  }

  &-b-1 {
    max-width: 700px;
  }

}

.enhanced .o-date {opacity: 0;}
.enhanced.js-success .o-date {opacity: 1;}
